dev_data/
.vscode
.idea
vendor/
docker/postgres/dbdata/
docker/nginx/logs/
config.php
index.php
pull.txt
src/config/
src/bootstrap.php
src/index.php
src/composer.php
.env
downloads/
bfg.jar
.git.bfg-report/
application.php
.phpunit.result.cache